.stick1, .stick2, .stick3, .stick4, .stick5, .stick6, .stick7, .stick8, .stick9, .stick10 {
    width:5px;
    height:90px;
    position:absolute;
    background-color:#3F2400;
}
.stick1 {
    top:14%;
    left:36.9%;
    transform:rotateZ(-35deg);
}
.stick2 {
    top:7.5%;
    left:50%;
    transform:rotateZ(0deg);
}
.stick3 {
    top:14.5%;
    left:63.4%;
    transform:rotateZ(35deg);
}
.stick4 {
    top:35%;
    left:27.5%;
    transform:rotateZ(-75deg);
}
.stick4::before {
    content: "";
    width: 106px;
    height: 81px;
    left: 89px;
    transform: rotateZ(-12deg);
    top: -19px;
    background-color: #000;
    position: absolute;
    -webkit-clip-path: polygon(15% 32%, 17% 19%, 26% 9%, 42% 6%, 53% 7%, 62% 12%, 69% 28%, 68% 39%, 61% 50%, 53% 57%, 50% 69%, 48% 79%, 48% 88%, 38% 88%, 36% 71%, 36% 57%, 42% 46%, 52% 38%, 49% 25%, 41% 22%, 27% 25%, 25% 36%);
    clip-path: polygon(15% 32%, 17% 19%, 26% 9%, 42% 6%, 53% 7%, 62% 12%, 69% 28%, 68% 39%, 61% 50%, 53% 57%, 50% 69%, 48% 79%, 48% 88%, 38% 88%, 36% 71%, 36% 57%, 42% 46%, 52% 38%, 49% 25%, 41% 22%, 27% 25%, 25% 36%);
}
.stick5 {
    top:35%;
    left:72.5%;
    transform:rotateZ(75deg);
}
.stick5::before {
    content: "";
    width: 106px;
    height: 81px;
    left: 89px;
    transform: rotateZ(-12deg);
    top: -19px;
    background-color: #000;
    position: absolute;
    -webkit-clip-path: polygon(52% 30%, 29% 10%, 8% 23%, 9% 48%, 26% 68%, 48% 88%, 76% 70%, 86% 50%, 90% 22%, 72% 11%);
    clip-path: polygon(52% 30%, 29% 10%, 8% 23%, 9% 48%, 26% 68%, 48% 88%, 76% 70%, 86% 50%, 90% 22%, 72% 11%);
}
.stick6 {
    top:77%;
    left:35.9%;
    transform:rotateZ(44deg);
}
.stick6::before {
    content: "";
    width: 106px;
    height: 81px;
    left: 89px;
    transform: rotateZ(-12deg);
    top: -19px;
    background-color: #000;
    position: absolute;
    -webkit-clip-path: polygon(53% 9%, 20% 28%, 44% 33%, 8% 59%, 39% 63%, 41% 87%, 53% 87%, 55% 65%, 83% 66%, 64% 36%, 76% 35%);
    clip-path: polygon(53% 9%, 20% 28%, 44% 33%, 8% 59%, 39% 63%, 41% 87%, 53% 87%, 55% 65%, 83% 66%, 64% 36%, 76% 35%);
}
.stick7 {
    top:85%;
    left:50%;
    transform:rotateZ(0deg);
}
.stick7::after {
    content: "";
    width: 106px;
    height: 81px;
    left: 89px;
    transform: rotateZ(-12deg);
    top: -19px;
    background-color: #000;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 64% 31%, 98% 35%, 69% 57%, 83% 92%, 50% 70%, 7% 97%, 25% 54%, 0 25%, 35% 28%);
    clip-path: polygon(50% 0%, 64% 31%, 98% 35%, 69% 57%, 83% 92%, 50% 70%, 7% 97%, 25% 54%, 0 25%, 35% 28%);
}
.stick7::before {
    content: "";
    width: 87px;
    z-index: 3;
    height: 72px;
    left: 97px;
    transform: rotateZ(-12deg);
    top: -15px;
    background-color: #f2e0ab;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 64% 31%, 98% 35%, 69% 57%, 83% 92%, 50% 70%, 7% 97%, 25% 54%, 0 25%, 35% 28%);
    clip-path: polygon(50% 0%, 64% 31%, 98% 35%, 69% 57%, 83% 92%, 50% 70%, 7% 97%, 25% 54%, 0 25%, 35% 28%);
}
.stick8 {
    top:58%;
    left:27.6%;
    transform:rotateZ(-113deg);
}
.stick8::after {
    content:"";
    width:50px;
    height:50px;
    background-color:#000;
    position:absolute;
    -webkit-clip-path:polygon(8% 24%, 33% 5%, 66% 5%, 81% 21%, 79% 39%, 93% 47%, 94% 66%, 76% 66%, 65% 85%, 32% 91%, 14% 81%, 6% 65%, 27% 59%, 41% 65%, 51% 56%, 55% 40%, 49% 26%, 32% 22%);
    clip-path:polygon(8% 24%, 33% 5%, 66% 5%, 81% 21%, 79% 39%, 93% 47%, 94% 66%, 76% 66%, 65% 85%, 32% 91%, 14% 81%, 6% 65%, 27% 59%, 41% 65%, 51% 56%, 55% 40%, 49% 26%, 32% 22%);
}
.stick9 {
    top:58%;
    left:72.3%;
    transform:rotateZ(113deg);
}
.stick10 {
    top:77%;
    left:64.1%;
    transform:rotateZ(-44deg);
}
/*************Triangle************/
.bowtie {
    position:absolute;
    height:0;
    background:#3f2400;
    border:60px solid #3f2400;
    border-bottom-width:20px;
    border-top-width:20px;
    border-color:#f2e4bb #3f2400 #f2e4bb #3f2400;
    margin:250px 0 0 -60px;
    border-radius:10px;
}
.bowtie::after {
    content:"";
    width:30px;
    height:15px;
    background-color:#3f2400;
    position:absolute;
    left:-15px;
    top:-8px;
    border:1px solid #130c03;
    border-radius:5px;
}
.eye {
    width:142px;
    height:110px;
    position:absolute;
    background-color:#f2e4bb;
    border:2px solid #3f2400;
    border-radius:120px 0 120px 0;
    transform:rotateZ(36deg);
    top:70px;
    left:-67px;
}
.eye::after {
    content:"";
    width:27px;
    height:68px;
    border:4px solid #3f2400;
    background:#f2e4bb;
    position:absolute;
    border-radius:20px 20px 20px 20px;
    transform:rotateZ(-35deg);
    top:15px;
    left:50px;
}
.eyelid-top {
    width:3px;
    height:31px;
    background-color:#3f2400;
    position:absolute;
    top:-23px;
    left:66px;
}
.eyelid-top::before {
    content:"";
    width:3px;
    height:31px;
    background-color:#3f2400;
    position:absolute;
    top:41px;
    left:-56px;
    transform:rotateZ(-73deg);
}
.eyelid-top::after {
    content:"";
    width:3px;
    height:27px;
    background-color:#3f2400;
    position:absolute;
    top:21px;
    left:-31px;
    transform:rotateZ(-39deg);
}
.eyelid-bottom {
    width:3px;
    height:20px;
    background-color:#3f2400;
    position:absolute;
    top:80px;
    left:90px;
    transform:rotateZ(-35deg);
}
.eyelid-bottom::before {
    content:"";
    width:3px;
    height:20px;
    background-color:#3f2400;
    position:absolute;
    top:-9px;
    left:-55px;
    transform:rotateZ(53deg);
}
.eyelid-bottom::after {
    content:"";
    width:3px;
    height:17px;
    background-color:#3f2400;
    position:absolute;
    top:-9px;
    left:65px;
    transform:rotateZ(-53deg);
}
.bricks {
    width:440px;
    height:80px;
    position:absolute;
    top:229px;
    left:-220px;
}
.brick-item {
    width:175px;
    position:absolute;
    height:40px;
    background-color:transparent;
    border:2px solid #000;
}
.brick-item:nth-child(1) {
    top:-6px;
    width: 275px;
    border-color: #000 #000 #000 transparent;
}
.brick-item:nth-child(2) {
    left:-40px;
    top:32px;
    border-color: #000 #000 #000 transparent;
}
.brick-item:nth-child(3) {
    left:-71px;
    top:71px;
    border-color: #000 #000 #000 transparent;
}
.brick-item:nth-child(4) {
    left: 99px;
    top: 71px;
    width: 285px;
}
.brick-item:nth-child(5) {
    width: 200px;
    left: 236px;
    right: 0;
    top: -6px;
    bottom: 0;
    border-color: #000 transparent #000 transparent;
}
.brick-item:nth-child(6) {
    left: 131px;
    top: 33px;
}
.brick-item:nth-child(7) {
    left: 383px;
    right: 0;
    top: 71px;
    bottom: 0;
    width: 138px;
    border-color: #000 transparent #000 #000;
}
.brick-item:nth-child(8) {
    width: 175px;
    left: 300px;
    right: 0;
    top: 32px;
    bottom: 0;
    border-color: #000 transparent #000 #000;
}
.brick-item::after {
    content:"";
    position:absolute;
    border-color:transparent #000 transparent #000 !important;
}
.brick-item:nth-child(1)::after{
    width:150px;
    height:60px;
    border:2px solid #3f2400;
    top: 48px;
}
.brick-item:nth-child(2)::after{
    width:60px;
    height:30px;
    border:2px dotted #3f2400;
    top: 43px;
}
.brick-item:nth-child(3)::after{
    width: 150px;
    height: 45px;
    border: 2px solid #3f2400;
    top: -12px;
    left: 344px;
}
.brick-item:nth-child(4)::after{
    width: 60px;
    height: 43px;
    border: 3px dotted #3f2400;
    top: -10px;
    left: -50px;
}
.brick-item:nth-child(5)::after{
    width: 80px;
    height: 60px;
    border: 4px dashed #3f2400;
    top: 47px;
}
.brick-item:nth-child(6)::after{
    width: 60px;
    height: 30px;
    border: 2px double #3f2400;
    top: 43px;
    left: 30px;
}
.brick-item:nth-child(7)::after{
    width: 140px;
    height: 50px;
    border: 2px dashed #3f2400;
    top: -16px;
    right: 41px;
}
.brick-item:nth-child(8)::after{
    width:60px;
    height:30px;
    border:2px dotted #3f2400;
    top: 43px;
}
/*Dots*/
.speck1 {
    -webkit-clip-path:polygon(68% 5%, 24% 39%, 100% 35%, 21% 54%, 50% 94%, 33% 83%, 8% 59%, 12% 39%, 10% 18%, 31% 18%);
    clip-path:polygon(68% 5%, 24% 39%, 100% 35%, 21% 54%, 50% 94%, 33% 83%, 8% 59%, 12% 39%, 10% 18%, 31% 18%);
    width:50px;
    height:40px;
    background-color:#8e6a00;
    position:absolute;
    filter:grayscale(50%) blur(5px) sepia(1);
    -webkit-filter:grayscale(50%) blur(5px) sepia(1);
    top:16%;
    left:2%;
}
.speck2 {
    -webkit-clip-path:polygon(35% 23%, 58% 33%, 88% 10%, 63% 47%, 64% 69%, 49% 64%, 31% 70%, 35% 55%, 18% 40%, 36% 37%);
    clip-path:polygon(35% 23%, 58% 33%, 88% 10%, 63% 47%, 64% 69%, 49% 64%, 31% 70%, 35% 55%, 18% 40%, 36% 37%);
    width:60px;
    height:50px;
    background-color:#c39b24;
    position:absolute;
    filter:grayscale(50%) blur(5px) sepia(1);
    -webkit-filter:grayscale(50%) blur(5px) sepia(1);
    top:4%;
    left:11%;
}
.speck3 {
    height:100%;
    width:20%;
    top:0;
    left:0;
    position:absolute;
    background:-moz-linear-gradient(left, rgba(51, 38, 0, 0.5) 0%, rgba(238, 219, 163, 0) 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(left, rgba(51, 38, 0, 0.5) 0%, rgba(238, 219, 163, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background:linear-gradient(to right, rgba(51, 38, 0, 0.5) 0%, rgba(238, 219, 163, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=1); /* IE6-9 */
}
